body{
    background-image: url('bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1{
    background-color: hsla(233, 90%, 81%, 0.685);
    font-size: 70px;
    font-family: Arial, sans-serif;
    display: inline-block;
    

    padding: 7px;
    border-radius: 10px;
}
h2{
    background-color: rgba(240, 248, 255, 0.815);
    font-size: 15px;
    font-family: Arial, sans-serif;
    display: inline-block;
    padding: 4px;
    border-radius: 7px;
}
p{
    background-color: rgba(240, 248, 255, 0.651);
    font-size: 20px;
    font-family: Arial, sans-serif;
    display: inline-block;
    position: absolute;
    top: 100%;
    padding: 4px;
    border-radius: 7px;
}
/* 
.search-container {
    position: relative;
    display: inline-block;
}

#searchBar {
    width: 200px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#itemList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#itemList li {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: none;
}

#itemList li:hover {
    background: #f0f0f0;
} */