
nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

li a {
    transition: color 0.3s ease;
}

.find-blood-btn {
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.slideshow-container {
    width: 100%;
    max-width: 1500px;
    max-height: 800px;
    margin-top: 590px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-sizing: border-box;
}

.slides {
    display: flex;
    width: 400%;
    transition: transform 1s ease-in-out;
}

.slide {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: #8585853b;
    border-radius: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.slide-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.slide img {
    width: 800px;
    height: 600px;
    border-radius: 20px;
    object-fit: cover;
    box-sizing: border-box;
}

.nav-manual {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.manual-btn {
    transition: background-color 0.3s, transform 0.2s;
}

#img1:checked ~ .slides {
    transform: translateX(0%);
}

#img2:checked ~ .slides {
    transform: translateX(-25%);
}

#img3:checked ~ .slides {
    transform: translateX(-50%);
}

#img4:checked ~ .slides {
    transform: translateX(-75%);
}
